<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.startogamu.musicalarm">
    <!-- Permission to start Alarm on device reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MusicAlarmApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".view.activity.AlarmsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".view.activity.AlarmActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:launchMode="singleInstance" />

        <activity
            android:name=".view.activity.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"

            android:launchMode="singleInstance">

            // An intent filter that will receive the response from the authentication service
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                // this needs to match the scheme and host of the redirect uri
                <data
                    android:host="settings-activity"
                    android:scheme="spotify-callback" />
            </intent-filter>

        </activity>
        <activity
            android:name=".view.activity.MusicActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_music_title"
            android:launchMode="singleInstance">


            // An intent filter that will receive the response from the authentication service
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                // this needs to match the scheme and host of the redirect uri
                <data
                    android:host="music-activity"
                    android:scheme="spotify-callback" />
            </intent-filter>
        </activity>

        <receiver android:name=".receiver.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

        </receiver>

        <!-- Will not be called unless the application explicitly enables it -->
        <receiver
            android:name=".receiver.DeviceBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name=".service.AlarmService" />
    </application>

</manifest>
